[[inputs.modbus]]
  name = "{{ .NAME }}"
  name_override = "{{ .NAME }}"
  controller = "tcp://{{ .IP }}:{{ .PORT }}"
  transmission_mode = "RTUoverTCP"
  configuration_type = "request"
  interval = "{{ .INTERVAL }}"
  timeout = "{{ .TIMEOUT }}"
  busy_retries = {{ .BUSY_RETRIES }}
  busy_retries_wait = "{{ .BUSY_RETRIES_WAIT }}"
  exclude_register_type_tag = true

    [[inputs.modbus.request]]
        slave_id = {{ .SLAVE_ID }}
        register = "register"
        fields = [
          { name = "voltage.L1", type = "INT16", scale=1.0, address = 1034},
          { name = "voltage.L2", type = "INT16", scale=1.0, address = 1036},
          { name = "voltage.L3", type = "INT16", scale=1.0, address = 1038},
          { name = "current.L1", type = "INT16", scale=1.0, address = 1035},
          { name = "current.L2", type = "INT16", scale=1.0, address = 1037},
          { name = "current.L3", type = "INT16", scale=1.0, address = 1039},
          { name = "power.L1", type = "UINT16", scale=1.0, address = 1041},
          { name = "power.L2", type = "UINT16", scale=1.0, address = 1042},
          { name = "power.L3", type = "UINT16", scale=1.0, address = 1043}
        ]


        {{ range $k, $v := .TAGS }}
        [inputs.modbus.request.tags]
          {{ $k }} = "{{ $v }}"
        {{ end }}

        [inputs.modbus.workarounds]
          close_connection_after_gather = true
          pause_between_requests = "{{ .PAUSE_BETWEEN_REQUESTS }}"
          pause_after_connect = "{{ .PAUSE_AFTER_CONNECT }}"